//danube-staging.palantircloud.com/artifacts/api/repositories/ri.artifacts.main.repository.685e2b8c-49e0-4a49-8d13-426a7412cd20/contents/release/npm:_authToken=${FOUNDRY_TOKEN}
@dv-osdk-revised-app:registry=https://danube-staging.palantircloud.com/artifacts/api/repositories/ri.artifacts.main.repository.685e2b8c-49e0-4a49-8d13-426a7412cd20/contents/release/npm